

.page_content {
    position: relative;
}

/*banner*/
.bg_banner {
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 470px;
    background: url('../images/bg_banner.jpg') center no-repeat;
    background-size: cover;
    z-index: -1;
}
.banner {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3F000000,endcolorstr=#3F000000);
}
.table_box {
    width: 425px;
    margin: 0 auto;
}
.table_cell {
    //position: relative;
    //top: 0;
    width: 425px;
    height: 470px;
    //z-index: -1;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .purpose {
        vertical-align: middle;
        // opacity: 0.1;
        // position: absolute;
        // bottom: 190px;
        // width: 100%;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        .p1 {
            font-size: 30px;
            font-weight: 600;
        }
        .p2 {
            font-size: 18px;
            span {
                position: relative;
            }
            span:before {
                position: absolute;
                left: -110px;
                top: 9px;
                content: '';
                width: 100px;
                height: 2px;
                background: #fff;
            }
            span:after {
                position: absolute;
                right: -110px;
                top: 9px;
                content: '';
                width: 100px;
                height: 2px;
                background: #fff;
            }
        }
    }
}

/*锚点*/
.column {
    position: relative;
}
.anchor {
    position: absolute;
    top: -85px;
    left: 0;
}
/*category业务分类*/
.category {
    padding: 20px 0;
    background: #F2F2F2;
}
.cate_list {
    width: 1160px;
    margin: 0 auto;
    .cate_item {
        float: left;
        margin: 5px;
        box-shadow: 0 4px 8px #602320;
        
        &:hover {
            .item_con {
                top: 0;
            }
        }
        .cate_item_body {
            position: relative;
            width: 280px;
            height: 145px;
            text-align: center;
            overflow: hidden;
        }
        .cate_item_bg {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .cate_img {
                display: block;
                width: 100%;
            }
        }
        .item_con {
            position: absolute;
            top: 103px;
            width: 100%;
            transition: top 0.5s;
            -moz-transition: top 0.5s; /* Firefox 4 */
            -webkit-transition: top 0.5s; /* Safari 和 Chrome */
            -o-transition: top 0.5s; /* Opera */
            .item_title {
                width: 100%;
                height: 42px;
                line-height: 42px;
                font-size: 20px;
                background: #A32020;
                background: rgba(163, 32, 32, 0.9);
                color: #fff;
            }
            .point_group {
                width: 100%;
                height: 103px;
                padding: 8px 0;
                background-color: #fff;
                .item_txt {
                    font-size: 15px;
                    color: #602320;
                }
            }
        }
        
    }
}

/*关于我们*/
.aboutUs {
    background: #fff;
    .about_info {
        max-width: 1140px;
        margin: 0 auto;
        padding: 80px 0;
        overflow: hidden;
        .about_title_area {
            position: relative;
            float: left;
            width: 445px;
            margin-right: 20px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background: #602320;
            }
        }
        .about_title {
            font-size: 36px;
            color: #602320;
        }
        .about_title_desc {
            font-size: 14px;
            color: #333;
        }
        .about_content {
            float: left;
            width: 635px;
            font-size: 16px;
            color: #888;
            p {
                text-indent: 32px;
                margin-bottom: 8px;
            }
        }
    }
}

/*服务内容*/
.service {
    background: #F2F2F2;
}
.service_con {
    position: relative;
    height: 240px;
    overflow: hidden;
    .ser_img {
        width: 100%;
        min-width: 1280px;
        position: relative;
    }
    .shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
    .server_title_box {
        width: 450px;
        margin: 0 auto;
    }
    .server_title {
        // width: 100%;
        // position: absolute;
        // top: 100px;
        height: 240px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        .txt_box {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            display: inline-block;
        }
        .highlight {
            color: #ff7879;
        }
    }
}
.ser_info {
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 0;
    .the_first_two {
        overflow: hidden;
    }
    .the_second_two {
        margin-top: 20px;
        overflow: hidden;
    }
    .info_item {
        position: relative;
        width: 47%;
        margin: 0 1.5%;
        
        float: left;
        background: #fff;
        
        .top_img {
            width: 100%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
        }
        .info_item_con {
            padding: 20px 30px;
            border: 1px solid #ddd;
        }
        .info_item_text {
            position: relative;
            .info_title {
                font-size: 20px;
                a {
                    color: #000;
                }
            }
            .info_con {
                margin: 20px 0;
                font-size: 14px;
                color: #777;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
            }
        }
        .info_item_text_first {
            padding-right: 80px;
        }
        .more_detail {
            font-size: 14px;
            a {
                display: block;
                color: #e86240;
            }
        }
        .info_item_icon {
            position: absolute;
            right: 0;
            top: 0;
            width: 64px;
            height: 64px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*政策法规*/
.news {
    padding: 30px 0;
    background: #fff;
}
.news_title {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0 15px 15px;
    font-size: 28px;
    font-weight: 600;
    color: #602320;
    border-top: 3px solid #602320;
}
.news_group {
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}
.news_item {
    width: 30%;
    float: left;
    margin: 0 1.6%;
    .news_img {
        width: 100%;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
        }
    }
    .news_detail {
        padding: 25px 30px;
        border: 1px solid #ddd;
        border-top: 3px solid #A32020;
        background: #F2F2F2;
        .news_date {
            font-size: 16px;
            color: #777;
        }
        .news_detail_title {
            margin: 10px 0;
            font-size: 22px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            a {
                color: #602320;
            }
        }
        .news_detail_con {
            font-size: 14px;
            color: #777;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .read_on {
            margin-top: 15px;
            font-size: 16px;
            a {
                color: #602320;
            }
        }
    }
    &:hover {
        .news_detail {
            background: #fff;
        }
    }
}
.more_news {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    .more_btn {
        display: inline-block;
        padding: 10px 20px;
        color: #e86240;
        border: 1px solid #e86240;
        border-radius: 3px;
        background: #fff;
        &:hover {
            color: #fff;
            background: #e86240;
        }
    }
}



@media screen and (min-width:768px) and (max-width: 1280px) {
    .cate_list {
        width: 580px;
    }
    .aboutUs {
        .about_info {
            width: 635px;
            .about_title_area {
                width: 635px;
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .cate_list {
        width: 280px;
        .cate_item {
            margin-bottom: 2vh;
            .item_con {
                top: 0;
                opacity: 0.9;
            }
        }
    }
    .aboutUs {
        .about_info {
            width: 80%;
            padding: 3vh 0 3.5vh 0;
            .about_title_area {
                width: 100%;
                margin-right: 0;
            }
            .about_title {
                font-size: 1.4rem;
            }
            .about_content {
                width: 100%;
            }
        }
    }
    .service_con {
        .server_title_box {
            width: 246px;
        }
        .server_title {
            font-size: 1.2rem;
        }
    }
    .ser_info {
        .info_item {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 2vh;
        }
    }
    .news_title {
        font-size: 1.4rem;
    }
    .news_item {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2vh;
    }
}

@media screen and (min-width:565px) and (max-width:768px) {
    .bg_banner {
        height: 360px;
    }
    .table_cell {
        height: 360px;
        .purpose {
            //bottom: 130px;
        }
    }
}
@media screen and (max-width: 565px) {
    .anchor {
        top: -60px;
    }
    .bg_banner {
        top: 60px;
    }
}
@media screen and (min-width:425px) and (max-width:565px) {
    .bg_banner {
        height: 270px;
    }
    .table_cell {
        height: 270px;
        .purpose {
            //bottom: 110px;
            .p1 {
                font-size: 1rem;
            }
            .p2 {
                font-size: 0.65rem;
            }
        }
    }
}
@media screen and (max-width:425px) {
    .bg_banner {
        height: 210px;
    }
    .table_box {
        width: 320px;
    }
    .table_cell {
        height: 210px;
        width: 320px;
        .purpose {
            //bottom: 85px;
            .p1 {
                font-size: 1rem;
            }
            .p2 {
                font-size: 0.65rem;
                span:before {
                    width: 40px;
                    left: -50px;
                    height: 1px;
                    top: 7px;
                }
                span:after {
                    width: 40px;
                    right: -50px;
                    height: 1px;
                    top: 7px;
                }
            }
        }
    }
}

