.header ~ .page_content {
  margin-top: 85px;
}
/*顶部导航*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  background: #fff;
  z-index: 10;
  box-shadow: 0 0 10px #333;
  /*.server_phone {
        float: right;
        height: 85px;
        color: #A73233;
        margin-left: 40px;
        font-size: 20px;
        .phone_icon {
            display: block;
            float: left;
            line-height: 85px;
            clear: both;
        }
        .phone_number {
            height: 85px;
        }
    }*/
}
.header .container {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
.header .logo-box {
  float: left;
}
.header .site-title {
  font-size: 23px;
  line-height: 85px;
  font-weight: 600;
  letter-spacing: 1px;
}
.header .site-title .link {
  color: #A73233;
}
.header .nav-list {
  float: right;
  line-height: 85px;
}
.header .nav-list .link {
  display: block;
  color: #602320;
  font-weight: 600;
}
.header .nav-list .nav_active {
  position: relative;
}
.header .nav-list .nav_active:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #A73133;
}
.header .nav-list .linkActive {
  color: #3194DB;
}
.header .nav-list .linkWhite {
  color: #333333!important;
}
.header .nav-list .active {
  background: #3194DB;
}
.header .nav-item {
  position: relative;
  float: left;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  margin-left: 25px;
}
.header .nav-item:hover:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #A73133;
}
.header .mobile_nav {
  float: right;
  display: none;
}
.header .mobile_nav img {
  display: inline;
  width: 30px;
}
.header .mobile_nav_list {
  display: none;
  position: absolute;
  right: 0;
  top: 85px;
}
.header .mobile_nav_list li {
  width: 100px;
  padding: 0.2rem 0;
  padding-right: 20px;
  font-size: 0.65rem;
  line-height: 1.3rem;
  text-align: right;
  background: #fff;
  border-bottom: 1px solid #fafafa;
}
.header .mobile_nav_list li a {
  color: #A73133;
}
.page_content {
  position: relative;
}
/*banner*/
.bg_banner {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  height: 470px;
  background: url('../images/bg_banner.jpg') center no-repeat;
  background-size: cover;
  z-index: -1;
}
.banner {
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3F000000, 0, endcolorstr=#3F000000, 0);
}
.table_box {
  width: 425px;
  margin: 0 auto;
}
.table_cell {
  width: 425px;
  height: 470px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.table_cell .purpose {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
}
.table_cell .purpose .p1 {
  font-size: 30px;
  font-weight: 600;
}
.table_cell .purpose .p2 {
  font-size: 18px;
}
.table_cell .purpose .p2 span {
  position: relative;
}
.table_cell .purpose .p2 span:before {
  position: absolute;
  left: -110px;
  top: 9px;
  content: '';
  width: 100px;
  height: 2px;
  background: #fff;
}
.table_cell .purpose .p2 span:after {
  position: absolute;
  right: -110px;
  top: 9px;
  content: '';
  width: 100px;
  height: 2px;
  background: #fff;
}
/*category业务分类*/
.category {
  padding: 20px 0;
  background: #F2F2F2;
}
.cate_list {
  overflow: hidden;
  width: 1160px;
  margin: 0 auto;
}
.cate_list .cate_item {
  position: relative;
  float: left;
  width: 280px;
  height: 145px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
}
.cate_list .cate_item:hover .item_con {
  top: 0;
}
.cate_list .cate_item .cate_item_bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cate_list .cate_item .cate_item_bg .cate_img {
  display: block;
  width: 100%;
}
.cate_list .cate_item .item_con {
  position: absolute;
  top: 103px;
  width: 100%;
  transition: top 0.5s;
  -moz-transition: top 0.5s;
  /* Firefox 4 */
  -webkit-transition: top 0.5s;
  /* Safari 和 Chrome */
  -o-transition: top 0.5s;
  /* Opera */
}
.cate_list .cate_item .item_con .item_title {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 20px;
  background: #A32020;
  background: rgba(163, 32, 32, 0.9);
  color: #fff;
}
.cate_list .cate_item .item_con .point_group {
  width: 100%;
  height: 103px;
  padding: 8px 0;
  background-color: #fff;
}
.cate_list .cate_item .item_con .point_group .item_txt {
  font-size: 15px;
  color: #602320;
}
/*关于我们*/
.aboutUs {
  background: #fff;
}
.aboutUs .about_info {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 0;
  overflow: hidden;
}
.aboutUs .about_info .about_title_area {
  position: relative;
  float: left;
  width: 445px;
  margin-right: 20px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.aboutUs .about_info .about_title_area:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #602320;
}
.aboutUs .about_info .about_title {
  font-size: 36px;
  color: #602320;
}
.aboutUs .about_info .about_title_desc {
  font-size: 14px;
  color: #333;
}
.aboutUs .about_info .about_content {
  float: left;
  width: 635px;
  font-size: 16px;
  color: #888;
}
.aboutUs .about_info .about_content p {
  text-indent: 32px;
  margin-bottom: 8px;
}
/*服务内容*/
.service {
  background: #F2F2F2;
}
.service_con {
  position: relative;
  height: 240px;
  overflow: hidden;
}
.service_con .ser_img {
  width: 100%;
  min-width: 1280px;
  position: relative;
}
.service_con .shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.service_con .server_title_box {
  width: 450px;
  margin: 0 auto;
}
.service_con .server_title {
  height: 240px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.service_con .server_title .txt_box {
  display: inline-block;
  vertical-align: middle;
}
.service_con .server_title span {
  display: inline-block;
}
.service_con .server_title .highlight {
  color: #ff7879;
}
.ser_info {
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 0;
}
.ser_info .the_first_two {
  overflow: hidden;
}
.ser_info .the_second_two {
  margin-top: 20px;
  overflow: hidden;
}
.ser_info .info_item {
  position: relative;
  width: 47%;
  margin: 0 1.5%;
  float: left;
  background: #fff;
}
.ser_info .info_item .top_img {
  width: 100%;
  overflow: hidden;
}
.ser_info .info_item .top_img img {
  display: block;
  width: 100%;
}
.ser_info .info_item .info_item_con {
  padding: 20px 30px;
  border: 1px solid #ddd;
}
.ser_info .info_item .info_item_text {
  position: relative;
}
.ser_info .info_item .info_item_text .info_title {
  font-size: 20px;
}
.ser_info .info_item .info_item_text .info_title a {
  color: #000;
}
.ser_info .info_item .info_item_text .info_con {
  margin: 20px 0;
  font-size: 14px;
  color: #777;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.ser_info .info_item .info_item_text_first {
  padding-right: 80px;
}
.ser_info .info_item .more_detail {
  font-size: 14px;
}
.ser_info .info_item .more_detail a {
  display: block;
  color: #e86240;
}
.ser_info .info_item .info_item_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
}
.ser_info .info_item .info_item_icon img {
  width: 100%;
  height: 100%;
}
/*政策法规*/
.news {
  padding: 30px 0;
  background: #fff;
}
.news_title {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  font-size: 28px;
  font-weight: 600;
  color: #602320;
  border-top: 3px solid #602320;
}
.news_group {
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
.news_item {
  width: 30%;
  float: left;
  margin: 0 1.6%;
}
.news_item .news_img {
  width: 100%;
  overflow: hidden;
}
.news_item .news_img img {
  display: block;
  width: 100%;
}
.news_item .news_detail {
  padding: 25px 30px;
  border: 1px solid #ddd;
  border-top: 3px solid #A32020;
  background: #F2F2F2;
}
.news_item .news_detail .news_date {
  font-size: 16px;
  color: #777;
}
.news_item .news_detail .news_detail_title {
  margin: 10px 0;
  font-size: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news_item .news_detail .news_detail_title a {
  color: #602320;
}
.news_item .news_detail .news_detail_con {
  font-size: 14px;
  color: #777;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news_item .news_detail .read_on {
  margin-top: 15px;
  font-size: 16px;
}
.news_item .news_detail .read_on a {
  color: #602320;
}
.more_news {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
}
.more_news .more_btn {
  display: inline-block;
  padding: 10px 20px;
  color: #e86240;
  border: 1px solid #e86240;
  border-radius: 3px;
}
/*底部信息*/
.footer {
  background: #111;
  color: #fff;
}
.footer .footer_con {
  max-width: 1140px;
  height: 240px;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
}
.footer .foot_item {
  float: left;
  width: 300px;
  margin: 0 40px;
}
.footer .foot_item .part_title {
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #999;
  color: #aaa;
}
.footer .company {
  margin-top: 50px;
}
.footer .company .logo {
  font-size: 24px;
  color: #f2f2f2;
}
.footer .company .company_info {
  font-size: 14px;
  color: #999;
}
.footer .hotline {
  overflow: hidden;
}
.footer .hotline .public_qr {
  float: left;
  width: 88px;
  height: 88px;
  overflow: hidden;
}
.footer .hotline .public_qr img {
  width: 100%;
  height: 100%;
}
.footer .hotline .about_text {
  width: 200px;
  margin-left: 10px;
  float: left;
  font-size: 12px;
  color: #f2f2f2;
}
.footer .hotline .about_text .icon_group {
  margin-top: 5px;
}
.footer .hotline .about_text .icon_group img {
  margin-right: 10px;
}
.footer .contact_us .contact_con {
  font-size: 14px;
  color: #ddd;
}
.footer .company_copy {
  position: relative;
  text-align: center;
  padding: 21px 0px;
  background: #222222;
  border-top: 1px solid #333;
  font-weight: 500;
  color: #777777;
  font-size: 13px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .cate_list {
    width: 580px;
  }
  .aboutUs .about_info {
    width: 635px;
  }
  .aboutUs .about_info .about_title_area {
    width: 635px;
    margin-right: 0;
  }
  .footer .foot_item {
    width: 40%;
    margin: 0 5%;
  }
  .footer .company {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .cate_list {
    width: 280px;
  }
  .aboutUs .about_info {
    width: 80%;
    padding: 3vh 0 3.5vh 0;
  }
  .aboutUs .about_info .about_title_area {
    width: 100%;
    margin-right: 0;
  }
  .aboutUs .about_info .about_title {
    font-size: 1.4rem;
  }
  .aboutUs .about_info .about_content {
    width: 100%;
  }
  .service_con .server_title_box {
    width: 246px;
  }
  .service_con .server_title {
    font-size: 1.2rem;
  }
  .ser_info .info_item {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2vh;
  }
  .news_title {
    font-size: 1.4rem;
  }
  .news_item {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2vh;
  }
  .footer .foot_item {
    float: none;
    margin: 0 auto;
  }
  .footer .company {
    display: none;
  }
  .footer .contact_us {
    display: none;
  }
}
@media screen and (min-width: 565px) and (max-width: 768px) {
  .bg_banner {
    height: 360px;
  }
  .table_cell {
    height: 360px;
  }
}
@media screen and (max-width: 565px) {
  .header ~ .page_content {
    margin-top: 60px;
  }
  .header {
    height: 60px;
  }
  .header .container {
    padding: 0 20px;
    line-height: 60px;
  }
  .header .nav-list {
    display: none;
  }
  .header .mobile_nav {
    display: block;
  }
  .header .mobile_nav_list {
    top: 60px;
  }
  .header .site-title {
    line-height: 60px;
  }
  .bg_banner {
    top: 60px;
  }
}
@media screen and (min-width: 425px) and (max-width: 565px) {
  .bg_banner {
    height: 270px;
  }
  .table_cell {
    height: 270px;
  }
  .table_cell .purpose .p1 {
    font-size: 1rem;
  }
  .table_cell .purpose .p2 {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 425px) {
  .bg_banner {
    height: 210px;
  }
  .table_box {
    width: 320px;
  }
  .table_cell {
    height: 210px;
    width: 320px;
  }
  .table_cell .purpose .p1 {
    font-size: 1rem;
  }
  .table_cell .purpose .p2 {
    font-size: 0.65rem;
  }
  .table_cell .purpose .p2 span:before {
    width: 40px;
    left: -50px;
    height: 1px;
    top: 7px;
  }
  .table_cell .purpose .p2 span:after {
    width: 40px;
    right: -50px;
    height: 1px;
    top: 7px;
  }
}
